---
layout: page
title: Series
background: /img/posts/bg-series.jpg
permalink: /series/
---

{% assign grouped = site.posts | group_by: "series" %}

<h2>Series Builder</h2>
<ul>
{% for group in grouped %}
  {% if group.name and group.name != "" %}
    {% assign slug = group.name | slugify %}
    <li>
      <strong>{{ group.name }}</strong>
      <br />
      slug: <code>{{ slug }}</code>
      <br />
      page: <code>series/{{ slug }}.md</code>
      <br />
      permalink: <code>/series/{{ slug }}/</code>
    </li>
  {% endif %}
{% endfor %}
</ul>

{% assign grouped = site.posts | group_by: "series" %}

{% for group in grouped %}
  {% if group.name and group.name != "" %}
    <h2 id="{{ group.name | slugify }}">{{ group.name }}</h2>
    <ul>
      {% assign sorted = group.items | sort: "series_order" %}
      {% for post in sorted %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          {% if post.series_order %} (Part {{ post.series_order }}){% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
