// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

.navbar a:hover,
.navbar a:focus {
  color: #556B2F; // Darker olive for hover
}

// Custom style for post excerpts
.post-excerpt {
  font-style: italic;
  color: #666;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
